.folderNameContainer {
  padding: 1rem 0;
  cursor: pointer;
}

.folderNameText {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.folderNameInput {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #ccc;
}
