.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  color: var(--text-color);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    background-color: var(--hover-background-color);
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
